@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #97caf7;
    --secondary-color:#0B4B84;
    --accent1-color:#472C1B;
    --accent2-color:#F9F9F9;
    --heading-font: "Archivo Black", sans-serif;
    --paragraph-font: "Poppins", sans-serif;
    --nav-background-color: #FF715B;
    --nav-link-color:#071013;
    --nav-hover-link:#B81800;
    --nav-hover-background-color:#FFA799;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
}

header{
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p{
    padding: 20px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
    text-decoration: none;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link);
    background-color: var(--nav-hover-background-color);
}