@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

body {
    display: block;
    font-size: 16px;
    font-family: Poppins, sans-serif;
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.grid {
    display: grid;
    align-items: center;
    
}

main {
    grid-column: 2;
    margin: 1rem;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    
}

li a {
    text-decoration: none;
}
div{
    padding: 1rem;
}
h1 {
    color: steelblue;
    padding-left: 4rem;
    border-bottom: 1px solid steelblue;
    font-size: 1.6rem;
}


aside{
    position: relative;
    width: 20em;
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
    align-self: flex-start;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 90px;
    left: 100px;
    color: #fff;
    font-size: 1rem;
}

aside p {
    padding: 1rem;
}



main img{
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p{ padding: 0;
 }

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(70, 131, 180, 0.2);
    background-color: hwb(207 73% 0%);
    color: rgb(50, 56, 63);

}

.clearfix::after{
    content: "";
    clear: right;
    display: table;
}