* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}

div{
    padding: 1rem;
}
h1 {
    color: steelblue;
    padding-left: 4rem;
}


aside{
    position: relative;
    width: 20em;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 50px;
    left: 100px;
    color: #000;
}

main{
    max-width: 840px;
}

main img{
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p{ padding: 0;
 }

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(70, 131, 180, 0.2);
    background-color: hwb(207 73% 0%);
    color: rgb(50, 56, 63);

}

.clearfix::after{
    content: "";
    clear: right;
    display: table;
}